@tailwind base;
@tailwind components;
@tailwind utilities;

/* login-signup input fields */

@import './hamburger.css';
@import './scrollUp.css';
@import './navbar.css';
@import '../../node_modules/video-react/dist/video-react.css';

.floating-input > input::placeholder {
  color: transparent;
}

.floating-input > input:focus,
.floating-input > input:not(:placeholder-shown) {
  @apply pt-8;
}

.floating-input > input:focus ~ label,
.floating-input > input:not(:placeholder-shown) ~ label {
  @apply opacity-75 scale-75 -translate-y-3 translate-x-1;
}
.floating-input > textarea::placeholder {
  color: transparent;
}

.floating-input > textarea:focus,
.floating-input > textarea:not(:placeholder-shown) {
  @apply pt-8;
}

.floating-input > textarea:focus ~ label,
.floating-input > textarea:not(:placeholder-shown) ~ label {
  @apply opacity-75 scale-75 -translate-y-10 translate-x-1;
}

.signup-field {
  @apply border bg-gray-100 border-gray-200 focus:outline-none rounded-md focus:border-gray-500 focus:shadow-sm w-full p-3 h-16;
}
.signup-label {
  @apply absolute top-0 left-0 px-3 py-5 h-full pointer-events-none transform origin-left transition-all duration-100 ease-in-out;
}

/* left-estimate-table */
.left-estimate-table {
  @apply px-3 text-gray-600 text-sm w-56;
}

.right-estimate-table > tr > td {
  @apply px-3 text-gray-600 text-sm;
}

.left {
  @apply text-right align-top w-1/4 md:w-1/4;
}

.input {
  @apply bg-gray-50 appearance-none border rounded-md w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-gray-400;
}

.select {
  @apply w-full border bg-gray-50 rounded-md py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white sm:text-sm;
}
/* Spinner */

.loader {
  border-top-color: #dc2626;
  -webkit-animation: spinner 0.5s linear infinite;
  animation: spinner 0.5s linear infinite;
}
.card:hover {
  box-shadow: 5px 5px 10px #c5c5c5, -5px -5px 10px #c5c5c5;
}

.nav-link {
  font-weight: 600px;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  padding: 20px 0px;
  margin: 0px 20px;
  display: inline-block;
  position: relative;
  opacity: 1;
}

.nav-link:hover {
  color: #dc2626;
}

.nav-link::before {
  transition: 300ms;
  height: 3px;
  content: '';
  position: absolute;
  background-color: #dc2626;
}

.nav-link-ltr::before {
  width: 0%;
  bottom: 10px;
}

.nav-link-ltr:hover::before {
  width: 100%;
}
.active {
  color: #dc2626;
}
.active::before {
  width: 100%;
  bottom: 10px;
}
th[colspan='2'] {
  text-align: center;
}
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
